<!-- <a routerLink="comp">Home</a> http://localhost:4200/comp/comp - Will Not Work -->
<a routerLink="/comp">Home</a> | <!-- http://localhost:4200/comp -->
<a routerLink="displaydata">Display Data</a> | <!-- http://localhost:4200/comp/displaydata -->
<!-- <a routerLink="/displaydata">Display Data</a> http://localhost:4200/displaydata - Will Not Work -->
<a routerLink="templatesyntax">Template Syntax</a> |
<a routerLink="lifecycle">Lifecycle</a> 
<p>comp works!</p>

<ul>
    <li>For Parent Routes(which are defined in AppRouting) '/' is required </li>
    <li>For Child Routes '/' is not required</li>
</ul>

<div id="lcLog"></div>
<router-outlet></router-outlet>